h1, #about h3 {
  color: #F4FAFF;
}

h2 {
  color: #5FA6D5;
}

.description, .info a, .serviceHero h3, .serviceText li {
  color: #033357;
}

footer {
  background-color: #033357;
  color: #F4FAFF;
}
footer #credits a {
  text-decoration: none;
  color: #F4FAFF;
}

#upIcon {
  color: #FEB1B1;
}

h1, #about h3 {
  color: #F4FAFF;
}

h2 {
  color: #5FA6D5;
}

.description, .info a, .serviceHero h3, .serviceText li {
  color: #033357;
}

footer {
  background-color: #033357;
  color: #F4FAFF;
}
footer #credits a {
  text-decoration: none;
  color: #F4FAFF;
}

#upIcon {
  color: #FEB1B1;
}

main {
  background-color: #F4FAFF;
  min-height: 100vh;
  transform: translateY(-50px);
  border-radius: 10px 10px 0 0;
  max-width: 1700px;
}

#services {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px 0;
  max-width: 100%;
}

#about {
  background-image: url("../Images/Om oss bakgrunn-compressed.JPG");
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  max-height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
}

#gradientOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(90deg, rgba(10, 44, 95, 0.522) 25%, rgba(255, 255, 255, 0) 100%);
}

.aboutHeroText {
  position: relative;
  z-index: 2;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#staff {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px 0;
  max-width: 100%;
}

h1, #about h3 {
  color: #F4FAFF;
}

h2 {
  color: #5FA6D5;
}

.description, .info a, .serviceHero h3, .serviceText li {
  color: #033357;
}

footer {
  background-color: #033357;
  color: #F4FAFF;
}
footer #credits a {
  text-decoration: none;
  color: #F4FAFF;
}

#upIcon {
  color: #FEB1B1;
}

header {
  background-image: url(../Images/Hero-background-mobile-compressed.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
header .logo {
  max-width: max-content;
  height: auto;
}
header span {
  color: #F4FAFF;
}
header #mobileMenu {
  margin-top: 200px;
}
header a {
  list-style: none;
  text-decoration: none;
  color: #F4FAFF;
}
header a:hover {
  text-decoration: underline;
  text-decoration-color: #FEB1B1;
  text-decoration-thickness: 5px;
  text-underline-offset: 5px;
}
header #hero {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#upIcon {
  transform: translateY(-15px);
}

footer {
  margin-top: -50px;
}

.icon:hover, #creditLogo:hover {
  transform: scale(115%);
  transition: 0.3s all ease-in;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E4ECF2;
}

h1, h2, h3, h4 {
  font-family: Aoboshi One;
}

p, a, li {
  font-family: Roboto;
}

span {
  cursor: pointer;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(3, 51, 87, 0.7411764706);
  transform: translateX(-100%);
  transition: 1s all ease-in-out;
}

.menu-item {
  display: none;
}

/* slidein effect */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s ease;
  transition-delay: 200ms;
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/*# sourceMappingURL=general.css.map */
