#aboutHero {
    background-image: url("/Images/Om oss bakgrunn.JPG");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    
}
#gradientOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(90deg, rgba(10, 44, 95, 0.522) 25%, rgba(255, 255, 255, 0) 100%);
}
.aboutHeroText {
    position: relative;
    
    z-index: 2;
}