

$darkBlue: #033357;
$rosa: #FEB1B1;
$lightGreen: #9CD9BC;
$lightBlue: #5FA6D5;
$offWhite: #F4FAFF;
$lightGrey: #E4ECF2;
$blueGrey: #3361A5;
$darkGrey: #222222;

h1, h3 {
    color: $offWhite;
}
h2 {
    color: $lightBlue;
    
}