@import "colors.scss";
@import "tjenesterStyles.scss";
@import "about.scss";




body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $lightGrey;
}

h1, h2, h3 {
    font-family: Aoboshi One;
    
}
p, a { 
    font-family: Roboto;
}
a {
    text-decoration: none;
    color: $offWhite;
}
span {
    cursor: pointer;
}
.modal {
    height: 100vh;
    width: 100vw;
    background-color: #033357bd;
    transform: translateX(-100%);
    transition: 1s all ease-in-out;
}
header {
    background-image: url(../Images/Hero-background-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    .logo {
        max-width: max-content;
        height: auto;
    }
    span {
        color: $offWhite;
    }
    
    #mobileMenu {
        margin-top: 200px;
    }
    a {
        list-style: none;
        text-decoration: none;
        color: $offWhite;
    }
    a:hover {
        text-decoration: underline;
        text-decoration-color: $rosa;
        text-decoration-thickness: 5px;
        text-underline-offset: 5px;
    }
    #hero {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
    
}
.menu-item {
    display: none;
}

