@import "colors.scss";
@import "services.scss";
@import "about.scss";
@import "header.scss";
@import "footer.scss";

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $lightGrey;
}

h1, h2, h3, h4 {
    font-family: Aoboshi One;
    
}
p, a { 
    font-family: Roboto;
}
span {
    cursor: pointer;
}
.modal {
    height: 100vh;
    width: 100vw;
    background-color: #033357bd;
    transform: translateX(-100%);
    transition: 1s all ease-in-out;
}

.menu-item {
    display: none;
}
/* slidein effect */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s ease;
    transition-delay: 200ms;
    transform: translateX(-100%);
    
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
   
    
}
