@media screen and (min-width: 600px) {
    .menu-item {
        display: flex;
    }
    header{
        background-image: url(/Images/Hero-background-desktop.jpg);
        #menu {
            visibility: hidden;
        }
        #hero {
           text-align: left;
           justify-content: start;
           align-items: start;
           margin-left: 100px;
           
        }
    } 
    
}
