@import "colors.scss";
main {
    background-color: $offWhite;
    min-height: 100vh;
    transform: translateY(-50px);
    border-radius: 10px 10px 0 0;
    max-width: 1700px;
    
}
#services {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 0;
    max-width: 100%;
    
}

